.color-container {
  position: absolute;
  width: 0px;
  height: 0px;
}

.color-picker {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 100px;
  cursor: pointer !important;
}

.color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 250px;
  margin: 0 auto;

  padding: 0 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.workout-edit{
  &__title-color{
    display: flex;
    flex-direction: column;
  }
}

.workout-form {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  padding-right: 20px;
  margin-top: 20px;
  height: inherit;

  &__title-color {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 10px auto;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid rgb(146, 146, 146);
    width: 250px;
    text-align: center;

    &:focus {
      outline-width: 0;
      border: 2px solid rgb(36, 36, 36);
    }
  }

  label {
    font-weight: bolder;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin: 10px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: $color-green-dark;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 11px #8d8d8d;
    width: 200px;

    &:hover {
      background-color: $color-green-darkest;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    padding: 8px;
    border-radius: 20px;
  }
}

.exercise-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  margin: 10px 0;
  padding: 8px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 1px 1px 6px #adadad;
  background-color: white;

  &__btn-esc {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    border: none;
    background-color: white;
    cursor: pointer;

    &__icon {
      width: 24px;
      height: 24px;
      stroke: $color-green-dark;
    }
  }
}

#exercise-field__title {
  width: 70%;
  margin: 10px auto;
  font-size: 12px;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid rgb(146, 146, 146);

  &:focus {
    outline-width: 0;
  }
}

.sets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.set-field {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn-remove {
    top: -20px;
    right: 0px;
    display: flex;
    border: none;
    background-color: white;
    cursor: pointer;

    &__icon {
      width: 24px;
      height: 24px;
      stroke: $color-green-dark;
    }
  }

  &__btn-add {
    border-radius: 6px;
    padding: 4px 8px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 6px #adadad;

    &:hover {
      cursor: pointer;
      background-color: #adadad;
    }
  }

  &__input {
    width: 20%;
    margin: 2px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid rgb(146, 146, 146);
  }
}

.hidden {
  display: none;
}
