$default-font-size: 1.6rem;

$color-green-darkest: #495057;
$color-green-dark: #212529;
$color-green-medium: #f03e3e;
$color-green-light: #495057;

$color-light: #e9ecef;
$color-grey: #adadad;

$padding-main: 3rem;
